.calculator{
    text-align: center;
    margin: 0 auto;
    padding-top: 100px;
    width: 400px;
}
.calculator-screen{
    width: 100%;
    height: 100px;
    background-color: #252525;
    color: #fff;
    text-align: right;
    font-size: 36px;
    border: none;
    padding: 0 20px;
    box-sizing: border-box;
}
.calculator-keys{
    width: 100%;
}
.row {
    display: flex;
}
button{
    height: 80px;
    background-color: #725a7a;
    border: 1px solid black;
    font-size: 32px;
    color: #fff;
    width: 25%;
    outline: none;
    cursor: pointer;
}
.all-clear, .zero-btn{
    width: 50%;
}
.operator, .equal-sign{
    background-color: #355c7d; 
}
button:hover{
    background-color: #c56c86;
}
.operator:hover, .equal-sign:hover{
    background-color: #ff7582;
}

/*header*/
.header {
    background-color: black;
    color: wheat;
    height: 80px;

    
}
.header-logo {
    float: left;
    font-size: 36px;
    padding:20px 200px;
}
span {
    color: #fff;
}

.btn{
    font-size: 10px;
    background-color: blue;
    height: auto;
    padding: 5px 5px;
    width: auto;
}

body {
    margin: 0;
    font-family: "Lucida Grande";
    background-color: #fff;
}

.footer {
    background-color: #323;
    color: #fff;
    height: 50px;
    padding: 20px;
    margin-top: 50px;
  }
.footer-logo {
    text-align: center;
    padding: 25px;
}